<div>
  <ul>
    <li *ngFor="let widget of widgetDataSource">

      <div *ngIf="widget.type === 'text'">
        <app-widget-container [widget]="widget">
          <ng-template>
            <app-text-widget textToShow="{{ widget.value }}"></app-text-widget>
            <app-like-share-ui likesData="{{ widget.likes }}" shareData="{{ widget.share }}"></app-like-share-ui>
          </ng-template>
        </app-widget-container>
      </div>

      <div *ngIf="widget.type === 'image'">
        <app-widget-container [widget]="widget">
          <ng-template>
            <app-image-widget imageSrc="{{ widget.value }}"></app-image-widget>
            <app-like-share-ui likesData="{{ widget.likes }}" shareData="{{ widget.share }}"></app-like-share-ui>
          </ng-template>
        </app-widget-container>
      </div>

    </li>
  </ul>
</div>
